<!DOCTYPE HTML>
<html>
  <head>
    <title>Download Example</title>

    <link href="{{STATIC_URL}}ged/bower_components/mdr-angular-file/dist/mdr-file.min.css">
    
    

    </head>

    <body> 
{% verbatim %}
		<!--<mdr-file url="/test/upload.php" model="file">-->
			
		<mdr-file url="/ged/upload/" size="100" >
		<!-- model="model" 
		data="{hola:'mundo'}" headers="{token:'shhh'}" 
		size="5" limit="10" formats="'jpg,png,gif,pdf'" disabled="false" multiple="true" 
		text="drag here">-->
		</mdr-file>
		
		<div class="mdr-file-dad" style="margin-top:18pt">

		<div class="row mdr-file-dad-content">'
 				<!--"col-sm-3 col-md-3 col-lg-3 test-->
	  			<div class="col-lm-3 test" ng-repeat="file in uploadFiles" >
	    			<div class="thumbnail" >
	      				<!--<img src="..." alt="...">-->
	      				<span class="glyphicon glyphicon-file"></span>
	      				<span class="filetypes filetypes-doc"></span>
	      				<div class="progress"></div>
	      				<div class="caption">
		        			<p>{{file.name}}<span class="text-muted"> {{file.size | bytesToSize}}</span></p>
							<p>{{file.content_type}}</p>
		        			<p>
		        				<a href="#" class="btn btn-primary" role="button">ok</a>
		        				<!--<a href="#" class="btn btn-default" role="Button">Button</a>-->
		        			</p>
	      				</div>
	    			</div>
	  			</div>
	  		
		</div>
		</div>
		<div style="display :none;">
		text={{ uploadFiles }}
		</div>

{% endverbatim %}

    </body>

</html>