<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% verbatim %}
			<div ng-show="documents.results.length"> 
				<table class="default table-hover">
					<thead>
						<tr>
							<th scope="col" title="Id">Id</th>
							<th scope="col" title="name">name</th>
							<th scope="col" title="contentType">content-type</th>
							<th scope="col" title="created_at">created_at</th>
							<th scope="col" title="updated_at">updated_at</th>
							<th scope="col" title="folder">basket</th>
						</tr>
					</thead>
					<tbody>
					  <tr ng-repeat="x in documents.results">
					    <td>{{ x.id }}</td>
					    <td>{{ x.name }}</td>
					    <td>{{ x.contentType }}</td>
					    <td>{{ x.created_at | date: 'yyyy-MM-dd hh:m' }}</td>
					    <td>{{ x.updated_at | date: 'yyyy-MM-dd hh:m' }}</td>
					    <td>{{ x.folder }}</td>
					  </tr>
				  </tbody>
				</table>
			 </div> 
			 
{% endverbatim %}				 
			
			<div class="full-height" ng-hide="documents.results.length"> 
					<mdr-file url="upload/" headers ="{'X-CSRFToken': '{{ csrf_token|escapejs }}'}"} size="100" 
					 	model="folder" >
					</mdr-file>
			</div>


</body>
</html>